.remote {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;

	max-width: 600px;
}

.button-row {
	display: flex;
	justify-content: center;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 30px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
}

.button:hover {
	background-color: #3e8e41;
}

.title {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
}